@import './variables';
@import './mixins';

.promo-text{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.155em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.68px $promoBlueText;

  @include onTablet {
    font-size: 64px;
    line-height: 64px;
  }

  &--big {
    font-size: 58px;
    line-height: 70px;
  }

  .colored {
    color: $promoBlueText;
  }
}
