@import './utils/mixins';

.app {
  padding: 15px 30px 30px;
  position: relative;

  @include onTablet {
    padding: 29px 34px 117px;
  }

  @include onDesktop {
    padding: 20px 135px 64px;
  }

  &__content {
    min-width: 320px;
    max-width: 1280px;
  }
}
